# -------------------------------------------------------------------------------------------------- IntelliJ Structure

.idea
*.iml
*.ipr
*.iws
out
gen

# ---------------------------------------------------------------------------------------------------------------- Java

*.class
*.jar
*.war
*.ear
